:root {
    /*FONT FAMILY*/
    --font-family-plain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-family-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*FONT COLOR*/
    --font-color-plain-noBg: rgba(37, 57, 111, 100%);
    --font-color-plain-bg: white;
    --font-color-main-noBg: "";
    --font-color-main-bg: "";
    --text-opacity: 50%;
    /*FONT SIZE*/
    --font-size-plain: small;
    --font-size-main: larger;
    --font-size-plain-small: x-small;
    --font-size-icon: 1.4rem;
    --font-size-icon-small: small;
    /*FONT WEIGHT*/
    --font-weight: 900;
    /*BORDER*/
    --border-color: rgba(37, 57, 111, 50%);
    --ux-border-color: rgba(169, 116, 255, 100%);
    /*BACKGROUNDS*/
    --main-bg: white;
    --ux-bg: rgba(169, 116, 255, 100%);
    --no-bg: transparent;
    --blocked-bg: rgba(87, 87, 87, 50%);
    /*INTERACTIONS*/
    --interaction-color: var(--ux-bg);
    --interaction-opacity: rgba(169, 116, 255, 75%);
    /*GAP*/
    --main-cont-gap: 2.5%;
    --form-gap: 5%;
    --mid-gap: 2.5%;
    /*INDEX*/
    --nav-i: 3;
    --footer-i: 3;
    --noScroll-cont-i: 4;
    --overlay-cont-i: 5;
    --burgers-i: 6;
    --modals-i: 7;
    --return-buttons-i: 4;
    --last-i: 10;
    /*BUTTONS*/
    --button-height: 4vh;
    --button-width: 25vh;
    --button-border: 2rem;
    --button-bg-color: rgba(169, 116, 255, 100%);
    /*INPUT*/
    --input-width: 85%;
    --input-height: 4vh;
    /*OPACITY*/
    --opacity: 50%;
}