* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

/* a:-webkit-any-link {
  color: inherit;
} */

a:focus,
a:active {
  color: var(--interaction-color);
}

i {
  font-size: var(--font-size-icon);
}